:root {
    --primary-color: white;
    --secondary-color: black;
    --toolbar-textcolor: #e5e4e2;
    --variable-color: #d8e4bc;
    --toolbar-color: #8fbc8f;
    --accent-color: #a9ba9d;
}
/* Global Style Properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Style Properties */
body {
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

/* Header Style Properties Start */
header {
    background-color: #87a96b;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-image: url("../images/code\ stream.jpeg"); */
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 9999;
}


header h1 {
    color: var(--secondary-color);
    font-weight:bolder;
    font-size: 40px;
    margin-left: 25px;

}

.seo {
    color: var(--secondary-color);
    font-size: 30px;
    font-weight: bold;

}

header a {
    text-decoration: none;
    font-weight: bold;
    color: var(--secondary-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.75vw;
}

/* Header properties when hovering over */

header nav ul li a:hover {
    background: var(--variable-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* Header Style Properties end */

/* Hero Style Propertie Start */
.hero {
    height: 150px;
    width: 100%;
    /* background-color: var(--accent-color); */
    background-image: url(../images/code\ stream.jpeg);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    /* opacity: 0.85; */
}

.hero h2 {
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 50px;
  text-align: right;
  font-size: 24px;
  color: #cfcfc4;
}

/* Hero Style Sectiion end */

/* About me style properties Start */

.about-work {
    background-color: cadetblue;
    font-size: 28px;

}

.about-me {
    background-color: var(--variable-color) ;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.about-me img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-top: 20px;
}

.about-me h2 {
    font-size: 30px;
    line-height: 1.5;
    color: var(--secondary-color);
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 30px;
}

.about-me p {
    background-color: var(--accent-color);
    border-radius: 20%;
    padding: 35px 30px 35px 70px;
    width: auto;
    font-size: 25px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
}
/* About me properties style ends */

/* My Work Properties Start */

/* Container Style Properties */
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.container h2 {
   text-shadow: 2px 2px var(--accent-color) ;


}

.container img {
    height: 85%;
    width: 85%;
    margin-right: 10px;
    border: 5px solid #3cb371;
    opacity: 0.70;
}

.container2 img {
    height: 70%;
    width: 70%;
    border: 5px solid #3cb371;
    opacity: 0.70;

}

.container img:hover {
    opacity: 1.0;
    border: 8px solid #d0ff14;
}

.container2 img:hover {
    opacity: 1.0;
    border: 8px solid #d0ff14;
}

/* Container Style Properties end */

/* My Work Style Properties */
.my-work {
    background-color: #d8e4bc;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content:flex-start;
}

.my-work-main {
    background-color: #d8e4bc;
    padding-bottom: 50px;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.my-work-main img {
    width: 600px;
    height: 600px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: inline;
}
.my-work-main h2 {
    font-size: 30px;
    line-height: 1.5;
    color: var(--secondary-color);
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 40px;
}


.my-work img {
  flex: 1 15%;
  margin-right: 20px;
  flex-wrap: wrap;
}

.my-work h2 {
    font-size: 30px;
    line-height: 1.5;
    color: var(--secondary-color);
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 40px;
}

.my-work p {
    font-size: 22px;
    display: inline;
    margin-left: 15px;
    margin-right: 20px;
}

/* My Work Propeties End */

/* Contact Me Properties Start */
.contact-me {
    background-color: #d8e4bc;
    padding-bottom: 50px;
    width: 100%;
    margin-left: 0px;
    display: flex;
    justify-content:flex-start;
}

.contact-me h2 {
    font-size: 25px;
    line-height: 1.5;
    color: var(--secondary-color);
    width: 100%;
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 30px;
    justify-content: space-between;
}

.contact-me  h3 {
    font-size: 22px;
    text-decoration: none;
    width: 100%;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    /* justify-content: space-between; */
}

.contact-me img {
    display: flex;
    width: 60px;
    height: 60px;
    padding-right: 8px;
    border-radius: 85%;

}

.contact-me a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-decoration: none;
}

/* Contact Me Properties End */

/* Section Title Properties */

.section-title {
    font-size: 40px;
    font-weight: bold;
    color: var(--secondary-color);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 30px;
    display:flex;
}

.section-title h3 img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section-title a {
    margin-top: 10px;
}



.section-title:not(:last-child) {
    border-right: 3px solid #2e8b57;
}

/* Media Query for Smaller Screens Style Properties */

@media screen and (max-width:980px) {
    
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    
    header h1 {
        width: 70%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }

    footer h3, footer div a {
        text-align: center;
        width: 100%;
    }

    .hero {
        width: 100%;
    }

    .hero h2 {
        width: 100%;
        font-size: 16px;
        text-align: center;
    }

    .about-me {
        width: 100%;
    }

    .about-me h2 {
        width: 80%;
        text-align: left;
    }

    .about-me img {
        width: 75px;
        height: 75px;
        margin-top: 0px;
    }

    .about-me p {
        width: 80%;
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .section-title {
        font-size: 25px;
        font-weight: bold;
        color: var(--secondary-color);
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 30px;
    }

    .contact-me h2 {
        font-size: 25px;
        width: 80%;
    }

    .contact-me h3 {
        font-size: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .contact-me img a {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:768px) {

    .about-me p {
        width: 80%;
        font-size: 11px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .hero {
        width: 100%;
    }

    .hero h2 {
        width: 80%;
        font-size: 14px;
        text-align: center;
    }

    .contact-me h2 {
        font-size: 25px;
        width: 80%;
    }

    .contact-me h3 {
        font-size: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .contact-me img a {
        display: flex;
        flex-wrap: wrap;
    }


}

@media screen and (max-width: 575px) {

    .about-me {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }

     .about-me p {
        width: 70%;
        font-size: 12px;
        margin-left: 120px;
        margin-right: 40px;
        margin-top: 5px;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
   
    .my-work {
        width: 100%;
        display: flex;
    }

    
    .my-work img {
        width: 70px;
        height: 70px;
        margin-top: 0px;
    }

    .my-work h2 {
        font-size: 25px;
    }

    .section-title h2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        font-size: 20px;
        justify-content: left;
        margin-left: 0;
    }
   

    .section-title h3 {
        font-size: 20px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 115px;
        margin-top: 0;
    }

    .section-title img {
        display: flex;
        flex-wrap: wrap;
        height: 45px;
        width: 45px;
    }

    .section-title a {
        display: flex;
        flex-wrap: wrap;
    }
  
    .contact-me {
        display: flex;
        flex-wrap: wrap;
    }
}