:root {
    --primary-color: white;
    --secondary-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header Style Properties Start */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../images/code\ stream.jpeg");
    opacity: 0.65;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 9999;
}


header h1 {
    font-weight: bold;
    font-size: 40px;
    color: blue;
    margin: 0;

}

header a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.75vw;
}

/* Header Style Properties end */

/* Hero Style Propertie Start */
.hero {
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../images/code\ stream.jpeg);
    background-size: cover;
    background-position: center;
    opacity: 0.75;
}

.hero h2 {
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 50px;
  text-align: right;
  color: var(--primary-color);
}

/* Hero Style Sectiion end */

/* Aside Bar Style Properties Start */

.aside-bar {
    margin-bottom: 20px;
    margin-left: 10px;
    padding-top: 0;
    padding-left: 20px;
    float: left;
    width: 25%;
    height: 100%;
    background-color: slategrey;
}

.aside-bar img {
    
    max-width: 250px;
    max-height: 250px;
}

.aside-bar h2 {
    text-align: right;
    display: inline;
    margin-top: 0px;
    padding-right: 10px;

}

/* Main Content Section */

 .content {
     width: 75%;
     display: inline;
     margin-left: 20px;
 }

 .content-about-me {
     font-size: 35px;
     color: var(--secondary-color);
     background-color: aqua;
     border: solid black;
 }

/* footer style properties start */

footer {

}